@page
@model ContactManager.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">

    <br></br>

    <p>
        Welcome to Data Dash Solution
        Unlock the Power of Data Analytics for Strategic Excellence
        At Data Dash Solution, we're your go-to partner for harnessing the transformative potential of data analytics. As a leading data analytics company, we specialize in delivering cutting-edge solutions that empower businesses to make informed decisions, drive operational efficiency, and achieve strategic excellence.
    </p>
    <p>
        <h2>Our Services:</h2>
        <br>


        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Analytics</h5>
                        <p class="card-text">Anticipate market trends, identify opportunities, and mitigate risks with our state-of-the-art predictive and prescriptive analytics.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Intuitive Dashboards</h5>
                        <p class="card-text">Visualize data effortlessly with our intuitive dashboards, enhancing decision-making efficiency throughout your organization.</p>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Scalable Solutions</h5>
                        <p class="card-text">Grow with confidence. Our flexible and scalable analytics solutions ensure sustained value and adaptability to evolving data requirements.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Data Security</h5>
                        <p class="card-text">Trust in our robust data security measures to safeguard your sensitive information, adhering to the highest industry standards.</p>

                    </div>
                </div>
            </div>
        </div>


        <br>

        <h2>Why Choose Data Dash Solution?</h2>
        <br>
        Join the ranks of industry leaders who have revolutionized their approach to data-driven decision-making with Data Dash Solution. Elevate your business to new heights by harnessing the full potential of your data. Welcome to a future where insights drive success, and data is not just a resource but a strategic advantage.
        Data Dash Solution: Your Gateway to Data-Driven Excellence.

    </p>
</div>
<br>
<section>
    <h2 style="text-align:center">Our Team</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/Picture/Picture1.jpg" class="card-img-top" alt="Team Member 1" style="margin-left: auto; margin-right: auto;margin-top: 20px;width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Prince Gera</h5>
                    <p class="card-text">Data Analyst</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/Picture/Picture2.jpg" class="card-img-top" alt="Team Member 2" style="margin-left: auto; margin-right: auto;margin-top: 20px;width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Tejas Patel</h5>
                    <p class="card-text">Data Analyst</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/Picture/Picture3.jpg" class="card-img-top" alt="Team Member 3" style="margin-left: auto; margin-right: auto;margin-top: 20px;width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Bhagyesh Parmar</h5>
                    <p class="card-text">Data Analyst</p>
                </div>
            </div>
        </div>
    </div>
</section>